{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    Bernardo Fontes (Berin) | {% trans "About" %}
{% endblock %}

{% block content %}
<div class="about">
    <h2 class="item_title"><a>{% trans "Hi, how are you?" %}</a></h2>
    <div class="overflow-hidden">
      <p>My name's Bernardo Fontes, a.k.a. Berin, and I live of writing and creating code.</p>
      <p>I've been working with Python for more than 10 years now, developing web applications, creating services and processing a lot of data.</p>
      <p>I'm the creator of <a href="https://berinhard.github.io/pyp5js/" target="_blank">pyp5js</a>, a tool to integrate Python code to p5.js. I'm also a maintainer of <a href="https://pypi.org/project/model-bakery/" target="_blank">model_bakery</a>, a Python lib to help writing tests for Django applications.</p>
      <p>Regular supporter and source code contributor on Brazil's open data project named <a href="https://brasil.io/home/" target="_blank">Brasil.io</a>.</p>
      <p>I'm a member of Grupo de Experiências Críticas em Infraestruturas Digitais (<a href="https://gecid-aia.github.io/" target="_blank">GECID</a>) [Critical Experiments in Digital Infrastructures Group] / GAIA / C4AI, Inova USP</p>
      <p>Besides that, I use code to give life to a part of my creative ideas.</p>
      <p>Member of the live coding duo <a href="https://pietrobapthysthe.bandcamp.com/" target="_blank">Pietro Bapthysthe</a></p>
      <p>I do like a bunch of other things such as reading/writing poetry, listening/composing music and drawing with maths using <a target="_blank" href="https://processing.org/">Processing</a>.</p>

      <p>In this website you can find links for everything related to myself and my work. Feel free to explore!</p>
      <small class="bold">brazilian, born in 1988, currently based in recife, brazil</small>
    </div>
</div>
{% endblock %}
