{% load staticfiles %}
{% load i18n %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% trans 'Bernardo Fontes (Berin) - Python Developer | Creative Coder' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% endblock %}</title>
    <meta name="google" content="notranslate" />

    <link rel="stylesheet" type="text/css" href='{% static "css/basscss.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% url "projects" as projects_url %}
    {% url "about" as about_url %}
    {% url "talks" as talks_url %}
    {% url "links" as links_url %}

    {% with request.path as current %}
    <header>
      <div class="clearfix">
        <div class="sm-col sm-col-12 md-col-12 lg-col-2 main_title">
          <a href='{% url "home" %}'>Bernardo Fontes</a>
        </div>
        <div class="sm-col sm-col-12 md-col-12 lg-col-2 link">
          <a class="{% if current == about_url %}bold_mono{% endif %}" href="{% url 'about' %}">{% trans "About" %}</a>
        </div>
        <div class="sm-col sm-col-12 md-col-12 lg-col-2 link">
          <a class="{% if current == projects_url %}bold_mono{% endif %}" href="{% url 'projects' %}">{% trans "Projects" %}</a>
        </div>

        <div class="sm-col sm-col-12 md-col-12 lg-col-2 link">
          <a class="{% if current == talks_url %}bold_mono{% endif %}" href="{% url 'talks' %}">{% trans "Talks" %}</a>
        </div>

        <div class="sm-col sm-col-12 md-col-12 lg-col-2 link">
          <a class="{% if current == links_url %}bold_mono{% endif %}" href="{% url 'links' %}">{% trans "Links" %}</a>
        </div>

        <div class="sm-col sm-col-12 md-col-12 lg-col-2 link">
          <a target="_blank" href="https://berinhard.github.io/sketches/">{% trans "Sketches" %}</a>
        </div>
      </div>
    </header
    {% endwith %}>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>

</html>
