{% load staticfiles %}
{% load i18n %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% trans 'Bernardo Fontes (Berin) - Programador Python | Creative Coder' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %} {% endblock %}</title>
    <meta name="google" content="notranslate" />

    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  </head>

  <body>
    <header>
      <a href='{% url "home" %}'>Bernardo Fontes</a>
      <a href="{% url 'about' %}">{% trans "Sobre" %}</a>
      <a href="{% url 'projects' %}">{% trans "Projetos" %}</a>
      <a href="https://berinhard.github.io/sketches/">{% trans "Sketches" %}</a>
      <a href="{% url 'talks' %}">{% trans "Palestras" %}</a>
      <a href="{% url 'links' %}">{% trans "Links" %}</a>
    </header>

    <div class="main_container">
        {% block content %}
        {% endblock %}
    </div>
  </body>

</html>
