{% load staticfiles %}
{% load i18n %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% trans 'Bernardo Fontes (Berin) - Programador Python | Creative Coder' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% endblock %}</title>
    <meta name="google" content="notranslate" />

    <link rel="stylesheet" type="text/css" href='{% static "css/basscss.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
  </head>

  <body>
    <header>
      <div class="clearfix">
        <div class="sm-col sm-col-12 md-col-12 lg-col-7">
          <a class="main_title" href='{% url "home" %}'>Bernardo Fontes</a>
        </div>
        <div class="sm-col sm-col-12 md-col-12 lg-col-1 link">
          <a href="{% url 'about' %}">{% trans "Sobre" %}</a>
        </div>
        <div class="sm-col sm-col-12 md-col-12 lg-col-1 link">
          <a href="{% url 'projects' %}">{% trans "Projetos" %}</a>
        </div>

        <div class="sm-col sm-col-12 md-col-12 lg-col-1 link">
          <a href="https://berinhard.github.io/sketches/">{% trans "Sketches" %}</a>
        </div>

        <div class="sm-col sm-col-12 md-col-12 lg-col-1 link">
          <a href="{% url 'talks' %}">{% trans "Palestras" %}</a>
        </div>

        <div class="sm-col sm-col-12 md-col-12 lg-col-1 link">
          <a href="{% url 'links' %}">{% trans "Links" %}</a>
        </div>
      </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>

</html>
