{% load staticfiles %}
{% load i18n %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% trans 'Bernardo Fontes (Berin) - Programador Python | Creative Coder' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% trans "Bernardo Fontes (Berin)" %}</title>
    <meta name="google" content="notranslate" />

    <link rel="stylesheet" type="text/css" href='{% static "css/basscss.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>

  </head>

  <body>

      <div id='home'>
          <div  class="overflow-auto">
        <div class="table">
            <div class="table-cell align-middle">
          <h2>Bernardo Fontes</h2>
          <h3>a.k.a. Berin</h3>
          <a href="{% url 'about' %}">{% trans "Sobre" %}</a>
          <a href="{% url 'projects' %}">{% trans "Projetos" %}</a>
          <a href="https://berinhard.github.io/sketches/">{% trans "Sketches" %}</a>
          <a href="{% url 'talks' %}">{% trans "Palestras" %}</a>
          <a href="{% url 'links' %}">{% trans "Links" %}</a>
            </div>
        </div>
        </div>
      </div>
  </body>

</html>
