{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    Bernardo Fontes (Berin) | {% trans "Links" %}
{% endblock %}

{% block content %}
<div class="links">
    <h2 class="item_title"><a>{% trans "Social" %}</a></h2>
    <ul>
      <li>+ <a href="mailto:bernardoxhc@gmail.com">bernardoxhc@gmail.com</a></li>
      <li>+ <a target="_blank" href="http://twitter.com/bbfontes">twitter.com/bbfontes</a></li>
      <li>+ <a target="_blank" href="https://github.com/berinhard/">github.com/berinhard</a></li>
      <li>+ <a target="_blank" href="https://br.linkedin.com/in/bernardofontes">linkedin.com/bernardofontes</a></li>
    </ul>

    <br/>
    <h2 class="item_title"><a>{% trans "Creative" %}</a></h2>
    <ul>
      <li>+ <a target="_blank" href="https://berinhard.github.io/sketches/">github.io/sketches</a></li>
      <li>+ <a target="_blank" href="https://www.instagram.com/fontes.bernardo/">instagram.com/fontes.bernardo</a></li>
      <li>+ <a target="_blank" href="https://pessoas.cc/autor/Bernardo/">pessoas.cc/Bernardo</a></li>
      <li>+ <a target="_blank" href="https://berin.bandcamp.com/">berin.bandcamp.com</a></li>
      <li>+ <a target="_blank" href="https://2bonsai.bandcamp.com/releases">2bonsai.bandcamp.com</a></li>
      <li>+ <a target="_blank" href="https://soundcloud.com/2bonsai">soundcloud.com/2bonsai</a></li>
    </ul>
</div>
{% endblock %}
