{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    Bernardo Fontes (Berin) | {% trans "Projects" %}
{% endblock %}

{% block content %}

  <div class="project">
      <h2 class="item_title" id="militares"><a class="no_hover" href="#logo_arquipelago">{% trans "O Arquipélago's logo" %}</a></h2>
      <center>

      <div class="video-container" style="width: 40%">
        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/341322117?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>

      </center>
      <p class="duration bold">2019</p>
      <div class="description">
          <p><a href="http://arquipelago.art/" target="_blank">"O Arquipélago"</a>{% trans " is a brazilian poetic podcast about film editing." %}</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="invisible_mov"><a class="no_hover" href="#invisible_mov">{% trans "Invisible Movement" %}</a></h2>
      <a href="{% url 'invisible_mov' %}" target="_blank"><img src='{% static "img/movimentos-cover.png" %}'/></a>
      <p class="duration bold">2018</p>
      <div class="description">
        <p>{% trans "Authoral project" %}</p>
        <p><a href="{% url 'invisible_mov' %}">{% trans "Click here"%}</a> for more details.</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="pybr_14"><a class="no_hover" href="#pybr_14">{% trans "PythonBrasil[14]'s Badge Visualization" %}</a></h2>
      <a href="{% url 'pybr_badge' %}" target="_blank"><img class="portrait" src='{% static "img/pybr_proj/QYZHNRPUEL.png" %}'/></a>
      <p class="duration bold">2018</p>
      <div class="description">
        <p>{% trans "Authoral project" %}</p>
        <p><a href="{% url 'pybr_badge' %}">{% trans "Click here"%}</a> for more details.</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="militares"><a class="no_hover" href="#eternos_militares">{% trans "Eternos Militares" %}</a></h2>
      <center>

      <div class="video-container">
       <div style="padding:100.56% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/333600589?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>

      </center>
      <p class="duration bold">2018</p>
      <div class="description">
        <p>{% trans "Random video created with Processing using data generated in the work Another 33rd São Paulo Biennial, by artist Bruno Moreschi" %}</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="outra_33_bienal"><a class="no_hover" href="#outra_33_bienal">{% trans "Outra 33 Bienal" %}</a></h2>
      <a href="http://outra33.bienal.org.br" target="_blank"><img src='{% static "img/bienal.png" %}'/></a>
      <p class="duration bold">2018</p>
      <div class="description">
        <p>{% trans "Project by the artists Bruno Moreschi for the 33rd São Paulo Biennial" %}</p>
        <p>{% trans "I was responsible for implementing the project's website and all of its techinical actions" %}</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="logo_subita"><a class="no_hover" href="#logo_subita">{% trans "Súbita Filmes' Opening" %}</a></h2>
      <center>
      <div class="video-container">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/289752867?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
      </center>
      <p class="duration bold">2018</p>
      <div class="description">
          <p><a href="https://subita.art.br/" target="_blank">Súbita Filmes</a>{% trans "'s opening credits created with Processing" %}</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="pessoas_cc"><a class="no_hover" href="#pessoas_cc">{% trans "pessoas.cc" %}</a></h2>
      <a href="http://pessoas.cc" target="_blank"><img src='{% static "img/pessoas.png" %}'/></a>
      <p class="duration bold">{% trans "2013 - today" %}</p>
      <div class="description">
        <p>{% trans "Online collective of poetic writing authors" %}</p>
        <p>{% trans "I'm one of the creators and writer" %}</p>
      </div>
  </div>

{% endblock %}
