{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    Bernardo Fontes (Berin) | {% trans "Projetos" %}
{% endblock %}

{% block content %}

  <div class="project">
      <h2 class="item_title" id="outra_33_bienal"><a class="no_hover" href="#outra_33_bienal">{% trans "Outra 33 Bienal" %}</a></h2>
      <a href="http://outra33.bienal.org.br" target="_blank"><img src='{% static "img/bienal.png" %}'/></a>
      <p class="duration bold">2017</p>
      <div class="description">
        <p>{% trans "Projeto do artista Bruno Moreschi para a 33ª Bienal de Artes de São Paulo" %}</p>
        <p>{% trans "Atuação: Desenvolvimento do site e implementação das ações" %}</p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="logo_subita"><a class="no_hover" href="#logo_subita">{% trans "Vinheta Súbita Filmes" %}</a></h2>
      <center>
      <div class="video-container">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/289752867?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
      </center>
      <p class="duration bold">2017</p>
      <div class="description">
          <p>{% trans "Vinheta criada com Processing para a " %}<a href="https://subita.art.br/" target="_blank">Súbita Filmes</a></p>
      </div>
  </div>

  <div class="project">
      <h2 class="item_title" id="pessoas_cc"><a class="no_hover" href="#pessoas_cc">{% trans "pessoas.cc" %}</a></h2>
      <a href="http://pessoas.cc" target="_blank"><img src='{% static "img/pessoas.png" %}'/></a>
      <p class="duration bold">{% trans "2013 - atualmente" %}</p>
      <div class="description">
        <p>{% trans "Coletivo de escrita poética" %}</p>
        <p>{% trans "Atuação: Criação e escrita" %}</p>
      </div>
  </div>

{% endblock %}
