{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    Bernardo Fontes (Berin) | {% trans "Palestras" %}
{% endblock %}

{% block content %}
  <div class="talk">
      <h2 class="item_title" id="talk_1"><a class="no_hover" href="#talk_1">{% trans "Além do MVC: Testando Unitariamente Apps Django" %}</a></h2>
      <p class="bold">2018 - III Python Sudeste - São Paulo</p>
      <div class="links">
          <span><a href="https://berinhard.github.io/talks/pyse_testing/index.html#/" target="_blank">{% trans "Presentation" %}</a></span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_2"><a class="no_hover" href="#talk_2">{% trans "Grafos e uma Análise Matemática do Jazz nos anos 60" %}</a></h2>
      <p class="bold">2017 - Grupy-SP 10 Anos - São Paulo</p>
      <div class="links">
          <span><a href="https://berinhard.github.io/talks/grupy_sp_grafos/index.html#/" target="_blank">{% trans "Presentation" %}</a></span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_3"><a class="no_hover" href="#talk_3">{% trans "Navegando por grafos com Python" %}</a></h2>
      <p class="bold">2017 - PythonBrasil[13] - Belo Horizonte</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pybr_grafos/index.html#/" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=BWp_2xeVzoc" target="_blank">{% trans "Video" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_4"><a class="no_hover" href="#talk_4">{% trans "Navegando por grafos com Python" %}</a></h2>
      <p class="bold">2017 - TDC - São Paulo</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/tdc_grafos/index.html#/" target="_blank">{% trans "Presentation" %}</a></span>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_5"><a class="no_hover" href="#talk_5">{% trans "TDD com Mock e Orientação a Objetos" %}</a></h2>
      <p class="bold">2017 - I Conf. Python Espírito Santo - Serra</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pyes_tdd/index.html#/" target="_blank">{% trans "Presentation" %}</a></span>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_6"><a class="no_hover" href="#talk_6">{% trans "Tutorial de Orientação a Objetos" %}</a></h2>
      <p class="bold">2016 - I Python Sudeste - Belo Horizonte</p>
      <div class="links">
          <span><a href="https://berinhard.github.io/talks/pyse_tutorial_oo/index.html#/" target="_blank">{% trans "Presentation" %}</a></span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_7"><a class="no_hover" href="#talk_7">{% trans "O Renascer de uma Comunidade: História da PythonRio no último ano" %}</a></h2>
      <p class="bold">2016 - FISL 17 - Porto Alegre</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/fisl_pythonrio/index.html#/" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=RQItYQivYi0" target="_blank">{% trans "Video" %}</a>  |    <a href="https://www.youtube.com/watch?v=LEC57zu3ii4&list=PLwxP_E_f7lLeKmp5bdJqKmzlmrtDawSGC" target="_blank">{% trans "Interview" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_8"><a class="no_hover" href="#talk_8">{% trans "Ataque às Fronteiras: Isolando e Testando suas Integrações" %}</a></h2>
      <p class="bold">2016 - IV Python Nordeste - Teresina</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pyne_fronteiras/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_9"><a class="no_hover" href="#talk_9">{% trans "Ataque às Fronteiras: Isolando e Testando suas Integrações" %}</a></h2>
      <p class="bold">2016 - IX Encontro PythonRio - Rio de Janeiro</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pythonrio_fronteiras/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_10"><a class="no_hover" href="#talk_10">{% trans "Testando Aplicações Django Unitariamente" %}</a></h2>
      <p class="bold">2016 - ThoughtWorks - Recife</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/tw_django_testing/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_11"><a class="no_hover" href="#talk_11">{% trans "Utilizando o ORM do Django de Maneira Elegante" %}</a></h2>
      <p class="bold">2015 - 41º PUG-PE - Recife</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pugpe_ddd_orm/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_12"><a class="no_hover" href="#talk_12">{% trans "Matando um Monolítico Django: de Pluggable Apps aos Microservices" %}</a></h2>
      <p class="bold">2015 - PythonBrasil[11] - São José dos Campos</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pybr_micro/index.html#/" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=x8wOAAJdcnw" target="_blank">{% trans "Video" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_13"><a class="no_hover" href="#talk_13">{% trans "Matando um Sistema Monolítico Rumo Aos Microservices" %}</a></h2>
      <p class="bold">2015 - QCon Rio - Rio de Janeiro</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/qcon_microservices/index.html#/" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.infoq.com/br/interviews/codigo-legado-micro-servicos-na-pratica" target="_blank">{% trans "Entrevista" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_14"><a class="no_hover" href="#talk_14">{% trans "Matando um Monolítico Django: de Pluggable Apps aos Microservices" %}</a></h2>
      <p class="bold">2015 - TDC - São Paulo</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/tdc_microservices/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_15"><a class="no_hover" href="#talk_15">{% trans "Resolvendo Todos Seus Problemas com Python" %}</a></h2>
      <p class="bold">2015 - Ciclo de Palestras EDX - Rio de Janeiro</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/edx_python/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_16"><a class="no_hover" href="#talk_16">{% trans "TDD com Mock e Orientação a Objetos com Python" %}</a></h2>
      <p class="bold">2015 - FISL 16 - Porto Alegre</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/fisl_tdd/index.html#/" target="_blank">{% trans "Presentation" %}</a>  |  <a href="http://hemingway.softwarelivre.org/fisl16/high/41c/sala_41c-high-201507101201.ogv" target="_blank">{% trans "Video" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_17"><a class="no_hover" href="#talk_17">{% trans "Orientação a Objetos em Python" %}</a></h2>
      <p class="bold">2015 - II Encontro PythonVale - São José dos Campos</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pythonvale_oo/index.html#/" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_18"><a class="no_hover" href="#talk_18">{% trans "TDD com Mock e Orientação a Objetos" %}</a></h2>
      <p class="bold">2015 - III Python Nordeste - Natal</p>
      <div class="links">
          <span>
              <a href="https://berinhard.github.io/talks/pyne_tdd/index.html#/" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=-sa0-BJPoxs" target="_blank">{% trans "Video" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_19"><a class="no_hover" href="#talk_19">{% trans "Escrevendo melhores testes no Django com o Model Mommy" %}</a></h2>
      <p class="bold">2013 - PythonBrasil[9] - Brasília</p>
      <div class="links">
          <span>
              <a href="https://www.slideshare.net/bernardofontes/melhorando-testes-no-django-com-o-model-mommy-21860913" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=YUSBDFidPZ8" target="_blank">{% trans "Video" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_20"><a class="no_hover" href="#talk_20">{% trans "Testando Aplicações Django" %}</a></h2>
      <p class="bold">2013 - Pingmind Talks</p>
      <div class="links">
          <span>
              <a href="https://www.youtube.com/watch?v=5XV5TIX1oNw" target="_blank">{% trans "Hangout" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_21"><a class="no_hover" href="#talk_21">{% trans "Crawleando a Web Feito Gente Grande Com o Scrapy" %}</a></h2>
      <p class="bold">2012 - PythonBrasil[8] - Rio de Janeiro</p>
      <div class="links">
          <span>
              <a href="https://www.slideshare.net/bernardofontes/crawleando-a-web-feito-gente-grande-com-o-scrapy" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=Um2pu_XtR-4" target="_blank">{% trans "Video" %}</a> | <a href="https://www.youtube.com/watch?v=AKx2c_InK2w" target="_blank">Hangout</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_22"><a class="no_hover" href="#talk_22">{% trans "Apresentando o Django: Um Framework Web Para Perfeccionistas Com Prazo" %}</a></h2>
      <p class="bold">2012 - IV FSLDC - Duque de Caxias</p>
      <div class="links">
          <span>
              <a href="https://www.slideshare.net/bernardofontes/django-um-framework-web-para-perfeccionistas-com-prazo" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_23"><a class="no_hover" href="#talk_23">{% trans "Aprenda a programar direito. Pergunte-me como!" %}</a></h2>
      <p class="bold">2012 - Universidade Federal Fluminense - Niterói</p>
      <div class="links">
          <span>
              <a href="https://www.slideshare.net/bernardofontes/aprenda-a-programar-direito-pergunteme-como-ii" target="_blank">{% trans "Presentation" %}</a>
          </span>
      </div>
  </div>

  <div class="talk">
      <h2 class="item_title" id="talk_24"><a class="no_hover" href="#talk_24">{% trans "Testando aplicações Django: quando, como e onde" %}</a></h2>
      <p class="bold">2011 - PythonBrasil[7] - São Paulo</p>
      <div class="links">
          <span>
              <a href="https://www.slideshare.net/bernardofontes/testando-aplicaes-django-quando-como-e-onde" target="_blank">{% trans "Presentation" %}</a>  |  <a href="https://www.youtube.com/watch?v=i-AMQqQ_qe0" target="_blank">{% trans "Video" %}</a>
          </span>
      </div>
  </div>

{% endblock %}
