$black: #333;

@font-face{
    font-family: "IBMPlexMono-Regular";
    src: url('/static/fonts/IBMPlexMono-Regular.ttf');
}

@font-face{
    font-family: "IBMPlexMono-Bold";
    src: url('/static/fonts/IBMPlexMono-Bold.ttf');
}

@font-face{
    font-family: "IBMPlexSans-Regular";
    src: url('/static/fonts/IBMPlexSans-Regular.ttf');
}

@font-face{
    font-family: "IBMPlexSans-Bold";
    src: url('/static/fonts/IBMPlexSans-Bold.ttf');
}


body {
    padding: 2rem 2rem 2rem 2rem;
}


h1, h2, h3, h4, h5, h6, b, strong, .bold {
    font-family: "IBMPlexSans-Bold";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    color: $black;
}


.bold_mono {
    font-family: "IBMPlexMono-Bold";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    color: $black;
}

hr {border-top: 1px solid $black;}

p, span {
    font-family: "IBMPlexSans-Regular";
    color: $black;
}

a {
    font-family: "IBMPlexMono-Regular";
    text-decoration: none;
    color: $black;
    &:link, &:visited {
        text-decoration: none;
    }
    &:hover {
        border-bottom: 1px solid $black;
    }
}

.no_hover {
    &:hover {
        border-bottom: 0px;
    }
}

header {
    font-size: 1.5rem;
    font-family: "IBMPlexMono-Regular";
    .link {text-align: center;}
    padding-bottom: 1rem;
    border-bottom: 1px solid $black;
    .main_title {
        a {
          font-family: "IBMPlexMono-Bold";
          &:hover {
              border-bottom: 0px
          }
        }
        padding-left: 1.5rem;
    }

    @media only screen and (max-width: 64em) {
        .main_title{
            padding-left: 0rem;
            text-align: center;
        }
    }
}

.container {
    text-align: center;
    padding-top: 1rem;

    hr {width: 30%}

    .section_title {
        padding-bottom: 1rem;
    }

    .item_title {
      text-decoration: underline;
      a {font-family: "IBMPlexSans-Bold";}
    }

    .project {
        padding-bottom: 1rem;

        .description{
            p {
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
            padding-bottom: 0.5rem;
        }

        img, .video-container{
          width: 50%;
          height: auto;
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          border: 1px solid $black;
        };


        @media only screen and (max-width: 64em) {
            img, .video-container { width:100% }
        }
    }

    .talk {
        padding-bottom: 1rem;
    }

    .links {
        ul {
          list-style: none;
          padding-left: 0;
        }
    }

    .about {
        img {width: 30%;}
    }
}
